@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

.App {
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1720032304972-1f1142e73253?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhdCUyMGFwcHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  width: 100%;
  border-width: 3px;
  border-radius: 15px;
  height: 40px;
  background-color: #e0f7fa; /* Light blue for input */
  padding-left: 15px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #556b2f; /* Olive green scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b8e23; /* Slightly lighter olive green on hover */
}
