@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f8ff; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  width: 100%;
  border-width: 3px;
  border-radius: 15px;
  height: 40px;
  background-color: #e0f7fa; /* Light blue for input */
  padding-left: 15px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #556b2f; /* Olive green scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b8e23; /* Slightly lighter olive green on hover */
}
